.App {
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: #141414;
}

.headercontainer {
  margin: 5vmin 5vmin 0 5vmin;
}

.headerspan {
  font-style: italic;
  margin-right: -3.5vmin;
  mix-blend-mode: difference;
  color: white;
  font-size: 12.5vmin;
  font-family: MontserratBold;
}

.subheader {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-family: MontserratBold;
}

.qa {
  margin: 5vmin;
  position: relative;
}

/* rules used inside the qa component */

.qaContainer {
  width: 60vw;
  height: 60vh;
  border: 10px solid #141414;
  border-radius: 40px;
  overflow: hidden;
  background: #141414;
  position: relative;
}

.qaSubContainer {
  margin: 1px;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.languageLabel {
  /* font-style: italic; */
  text-transform: uppercase;
  margin: 15px;
  color: #141414;
  font-family: MontserratThin;
}

.wordsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.categoryLabel {
  width: 100%;
  text-align: center;
  display: block;
  font-family: MontserratBold;
  font-size: 15px;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  height: 25px;
  padding-top: 8px;
}

.recommendedLabel {
  position: absolute;
  right: 0;
  height: 25px;
  font-size: 11px;
  padding-top: 25px;
  transition: 0.2s color;
  transform: translateX(50%);
  text-wrap: nowrap;
}

.recommendedExplanation {
  top: -3px;
  position: relative;
  transform: translateY(50%);
}

.goButton {
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: #141414;
  border: 2px solid #141414;
  color: #f4f4f4;
  padding: 20px 20px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  border-radius: 50%;
  aspect-ratio: 1;
  font-family: MontserratBold;
  cursor: pointer;
}

.wordP {
  max-width: calc(100% - 90px);
  font-family: MontserratBold;
}

.searchInput {
  font-size: calc(10px + 2vmin);
  padding: 10px;
  text-align: center;
  border-radius: 40px;
  font-family: MontserratItalic;
  width: 80%;
  margin: 30px;
  border: 2px solid #141414;
}

.searchContainer {
  border: 10px solid;
  border-radius: 40px;
  width: 80vw;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.searchResContainer {
  width: 80vw;
  height: 60vh;
  border-radius: 0px 0px 40px 40px;
  overflow: hidden;
}

.searchContainerInner {
  width: 80vw;
  height: 60vh;
  max-height: 60vh;
  overflow-y: scroll;
}


.searchResCol {
  text-align: center;
  max-width: 33%;
  min-width: 33%;
  font-size: calc(10px + 1vmin);
}